html {
  background: #000;
  color: #fff;
  font-family: 'Special Elite', 'Microsoft YaHei', cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0.5s ease-in-out;
  color: #ec3a46;
  font-family: 'Nosifer', 'Microsoft YaHei', cursive;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  filter: drop-shadow(0px 0.1em 0px #af111c) drop-shadow(0px 0.1em 0px #52080d);
}
.dim,
p,
ul,
ol,
button,
pre,
code,
kbd,
samp {
  font-family: 'Special Elite', cursive;
  animation: dim 30s ease-in-out infinite;
}
ul {
  padding-left: 10px;
}
ul li {
  list-style: none;
  margin: 5px 0;
}
ul li:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-image: url('skull.svg');
  margin-right: 10px;
}
ol {
  counter-reset: li;
}
ol li {
  counter-increment: li;
  margin: 5px 0;
  list-style: none;
}
ol li:before {
  content: counter(li);
  color: #ec3a46;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}
select {
  background: #000;
  color: #af111c;
  padding: 5px;
  border-radius: 3px;
}
button {
  padding: 5px;
  background: #af111c;
  color: #fff;
  border: none;
  border-radius: 3px;
}
button:hover {
  background: #ec3a46;
}
a {
  color: inherit;
}
input,
textarea,
button {
  outline-color: #ec3a46;
}
input,
textarea {
  background-color: #52080d;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 0.5em;
}
[type='checkbox'],
[type='radio'] {
  position: absolute;
  left: -9999px;
}
[type='radio'] + label {
  cursor: pointer;
}
[type='radio'] + label:before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  margin: 10px;
  background: #fff;
  box-shadow: 0px 0px 0 0.15em #000, 0px 0px 0 0.3em #fff;
  transition: all 0.2s ease-in;
}
[type='radio']:checked + label:before {
  background: #ec3a46;
}
[type='checkbox'] + label {
  line-height: 1.25em;
  cursor: pointer;
}
[type='checkbox'] + label:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1.25em;
  margin-right: 0.5em;
  vertical-align: text-bottom;
  background-size: 100% 100%;
  background-image: url('eye.svg');
  transition: all 0.3s ease-in;
  transform: scale(1, 0.4);
}
[type='checkbox']:checked + label:before {
  transform: scale(1, 1);
}
table {
  border-collapse: collapse;
  box-shadow: 0 0 0 3px #af111c;
  border-radius: 3px;
}
table tr th,
table tr td {
  padding: 20px;
  border: #af111c solid 1px;
}
table tr th {
  border-top: none;
  height: 1em;
  color: #af111c;
}
table tr td:first-of-type,
table tr th:first-of-type {
  border-left: none;
}
table tr td:last-of-type,
table tr th:last-of-type {
  border-right: none;
}
table tr:last-of-type td {
  border-bottom: none;
}
table tr:last-of-type td:first-of-type {
  border-bottom: none;
  border-left: none;
}
table tr:last-of-type td:last-of-type {
  border-bottom: none;
  border-right: none;
}
@keyframes dim {
  0%,
  100% {
    opacity: 1;
  }
  10% {
    opacity: 0.7;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 6;
  }
}
