@blood: #af111c;
@deep-blood: darken(@blood, 20%);
@bright-blood: lighten(@blood, 20%);

@font-face {
  font-family: 'onryou';
  src: url(creepyfont/onryou/onryou.TTF);
  font-style: normal;
  font-weight: normal;
  // unicode-range: U+0025-00FF;
}

@font-face {
  font-family: 'zomzi';
  src: url(creepyfont/ankokuzonji/Zomzi.TTF);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'death';
  src: url(creepyfont/DeathOne/DeathOne.TTF);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'dhand';
  src: url(creepyfont/DemonHands/DemonHands.TTF);
  font-style: normal;
  font-weight: normal;
}

html {
  background: #111111;
  color: #fff;
  font-family: 'Special Elite', 'Microsoft YaHei', cursive;
  cursor: url(cursor.png), auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0.5s ease-in-out;
  color: @bright-blood;
  font-family: 'dhand', 'Microsoft YaHei', cursive;
  &:hover {
    filter: drop-shadow(0px 0.1em 0px @blood)
      drop-shadow(0px 0.1em 0px @deep-blood);
  }
}

body {
  font-family: 'Special Elite', cursive;
  animation: dim 30s ease-in-out infinite;
}

ul {
  padding-left: 10px;
  li {
    list-style: none;
    margin: 5px 0;
    &:before {
      content: '';
      display: inline-block;
      height: 20px;
      width: 20px;
      background-size: contain;
      background-image: data-uri('./skull.svg');
      margin-right: 10px;
    }
  }
}

// Reference https://www.w3.org/Style/Examples/007/color-bullets.en.html
ol {
  counter-reset: li;
  li {
    counter-increment: li;
    margin: 5px 0;
    list-style: none;
    &:before {
      content: counter(li);
      color: @bright-blood;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1.5em;
      margin-right: 0.5em;
      text-align: right;
      direction: rtl;
    }
  }
}

button {
  padding: 5px;
  background: @blood;
  color: #fff;
  border: none;
  border-radius: 3px;
  &:hover {
    background: @bright-blood;
  }
  &:active {
    background: @deep-blood;
  }
}

a {
  color: inherit;
  cursor: url(cursor.png), auto;
}

input,
textarea,
button,
select {
  outline-color: @bright-blood;
}

input,
textarea,
select {
  background-color: @deep-blood;
  color: #fff;
  border-radius: 3px;
  border: none;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.5rem;
}

[type='checkbox'],
[type='radio'] {
  position: absolute;
  left: -9999px;
}

[type='radio'] + label {
  cursor: pointer;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: bottom;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    margin: 10px;
    background: #fff;
    box-shadow: 0px 0px 0 0.15em #000, 0px 0px 0 0.3em #fff;
    transition: all 0.2s ease-in;
  }
}
[type='radio']:checked + label {
  &:before {
    background: @bright-blood;
  }
}

[type='checkbox'] + label {
  line-height: 1.25em;
  cursor: pointer;
  &:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1.25em;
    margin-right: 0.5em;
    vertical-align: text-bottom;
    background-size: 100% 100%;
    background-image: data-uri('./eye.svg');
    transition: all 0.3s ease-in;
    transform: scale(1, 0.4);
  }
}

[type='checkbox']:checked + label {
  &:before {
    transform: scale(1, 1);
  }
}

table {
  border-collapse: collapse;
  box-shadow: 0 0 0 3px @blood;
  border-radius: 3px;
  tr {
    th,
    td {
      padding: 20px;
      border: @blood solid 1px;
    }
    th {
      border-top: none;
      height: 1em;
      color: @bright-blood;
    }
    td:first-of-type,
    th:first-of-type {
      border-left: none;
    }
    td:last-of-type,
    th:last-of-type {
      border-right: none;
    }
  }
  tr:last-of-type {
    td {
      border-bottom: none;
    }
    td:first-of-type {
      border-bottom: none;
      border-left: none;
    }
    td:last-of-type {
      border-bottom: none;
      border-right: none;
    }
  }
}

.divider {
  height: 4px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px @bright-blood;
  background: linear-gradient(45deg, @bright-blood, @blood, @deep-blood);
  background-size: 600% 600%;
  animation: flow 9s ease infinite;
}

@keyframes flow {
  0% {
    background-position: 11% 0%;
  }
  50% {
    background-position: 90% 100%;
  }
  100% {
    background-position: 11% 0%;
  }
}

@keyframes dim {
  0%,
  100% {
    opacity: 1;
  }
  10% {
    opacity: 0.7;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.6;
  }
}

.bloody-box {
  position: relative;
  background-color: @blood;
  margin: 30px 0;
  canvas {
    position: absolute;
    top: 100%;
    left: 0;
  }
}
