@font-face {
  font-family: 'onryou';
  src: url(creepyfont/onryou/onryou.TTF);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'zomzi';
  src: url(creepyfont/ankokuzonji/Zomzi.TTF);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'death';
  src: url(creepyfont/DeathOne/DeathOne.TTF);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'dhand';
  src: url(creepyfont/DemonHands/DemonHands.TTF);
  font-style: normal;
  font-weight: normal;
}
.blood {
  color: #af111c;
}
.bright-blood {
  color: #ec3a46;
}
.deep-blood {
  color: #52080d;
}
.onryou {
  font-family: 'onryou';
  letter-spacing: 0.2em;
  line-height: 1.2em;
}
.zomzi {
  font-family: 'zomzi';
  letter-spacing: 0.2em;
  line-height: 1.2em;
}
.death {
  font-family: 'death';
  letter-spacing: 0.2em;
  line-height: 1.2em;
}
.dhand {
  font-family: 'dhand';
  letter-spacing: 0.2em;
  line-height: 1.2em;
}
.flash:hover {
  animation: flash 0.5s ease;
}
html {
  background: #111111;
  color: #fff;
  font-family: 'Special Elite', 'Microsoft YaHei', cursive;
  cursor: url(cursor.png), auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0.5s ease-in-out;
  color: #ec3a46;
  font-family: 'dhand', 'Microsoft YaHei', cursive;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  filter: drop-shadow(0px 0.1em 0px #af111c) drop-shadow(0px 0.2em 0px #52080d);
}
body {
  font-family: 'Special Elite', cursive;
  animation: dim 30s ease-in-out infinite;
}
ul {
  padding-left: 10px;
}
ul li {
  list-style: none;
  margin: 5px 0;
}
ul li:before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20274.989%20274.989%22%20style%3D%22enable-background%3Anew%200%200%20274.989%20274.989%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Cpath%20style%3D%22fill%3A%23ff1c2b%3B%22%20d%3D%22M179.567%2C216.044c-5.609%2C11.237-8.425%2C16.844-14.02%2C19.641c-5.609%2C5.603-16.837%2C5.603-28.068%2C5.603%0D%0A%09%09c-14.02%2C0-22.432%2C0-28.038-5.603c-5.624-2.797-8.432-8.404-14.03-19.641c0%2C0-2.816-2.781-2.816-5.611l-11.228%2C2.83l8.429%2C28.025%0D%0A%09%09l16.827%2C14.049c5.598%2C14.022%2C16.835%2C19.652%2C30.855%2C19.652c5.609%2C0%2C14.039-2.836%2C16.835-5.63c5.623-2.816%2C11.232-8.415%2C14.04-14.022%0D%0A%09%09l16.826-14.049l8.425-28.025l-11.222-2.83C179.567%2C213.263%2C179.567%2C216.044%2C179.567%2C216.044L179.567%2C216.044z%20M210.458%2C25.266%0D%0A%09%09C190.794%2C8.448%2C168.355%2C0%2C137.48%2C0c-30.855%2C0-53.295%2C8.448-72.948%2C25.266C47.701%2C39.287%2C36.493%2C61.729%2C36.493%2C87.009%0D%0A%09%09c0%2C22.422%2C2.787%2C39.249%2C8.4%2C47.7c8.426%2C14.008%2C14.04%2C22.428%2C14.04%2C28.032l2.797%2C22.43l39.28%2C19.663l8.432%2C16.84%0D%0A%09%09c2.782%2C0%2C5.607%2C0%2C11.222%2C2.797c5.613%2C0%2C11.222%2C0%2C16.817%2C0c14.039%2C0%2C22.459-2.797%2C30.875-2.797l5.603-16.84l39.291-19.663%0D%0A%09%09l2.796-22.43c2.818-5.604%2C2.818-8.426%2C2.818-11.216c14.018-19.648%2C19.633-42.094%2C19.633-64.517%0D%0A%09%09C238.496%2C61.729%2C230.086%2C39.287%2C210.458%2C25.266L210.458%2C25.266z%20M95.412%2C162.742c-16.845%2C0-22.44-11.216-22.44-28.032%0D%0A%09%09c0-8.451%2C0-16.867%2C5.595-19.652c2.802-5.626%2C8.434-8.415%2C16.845-8.415c16.812%2C0%2C25.252%2C8.415%2C25.252%2C25.237%0D%0A%09%09C120.664%2C151.526%2C112.224%2C162.742%2C95.412%2C162.742L95.412%2C162.742z%20M145.921%2C193.597c-2.831%2C0-5.633%2C0-8.44-2.806%0D%0A%09%09c-2.817%2C2.806-2.817%2C2.806-5.595%2C2.806c-2.836%2C0-5.609%2C0-8.425-2.806c-2.797%2C0-2.797-2.791-2.797-5.618%0D%0A%09%09c0-2.776%2C2.797-8.387%2C5.613-11.198c5.609-5.621%2C8.387-11.232%2C11.204-16.837c2.807%2C5.604%2C8.44%2C11.216%2C11.231%2C16.837%0D%0A%09%09c5.604%2C2.811%2C5.604%2C8.422%2C5.604%2C11.198C154.316%2C190.791%2C151.519%2C193.597%2C145.921%2C193.597L145.921%2C193.597z%20M182.385%2C162.742%0D%0A%09%09c-16.837%2C0-25.263-11.216-25.263-28.032c0-16.867%2C8.426-28.068%2C25.263-28.068c8.409%2C0%2C14.018%2C2.79%2C16.826%2C8.415%0D%0A%09%09c5.613%2C2.785%2C5.613%2C8.411%2C5.613%2C16.821C204.823%2C151.526%2C196.403%2C162.742%2C182.385%2C162.742L182.385%2C162.742z%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
  margin-right: 10px;
}
ol {
  counter-reset: li;
}
ol li {
  counter-increment: li;
  margin: 5px 0;
  list-style: none;
}
ol li:before {
  content: counter(li);
  color: #ec3a46;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
}
button {
  padding: 0.7rem;
  background: #af111c;
  color: #fff;
  border: none;
  border-radius: 3px;
}
button:hover {
  background: #ec3a46;
}
button:active {
  background: #52080d;
}
.button-bright {
  background: #eeeeee;
  color: #ec3a46;
}
.button-bright:hover {
  background: #ffffff;
}
.button-bright:active {
  background: #999999;
}
a {
  color: inherit;
  cursor: url(cursor.png), auto;
}
input,
textarea,
button,
select {
  outline-color: #ec3a46;
}
input,
textarea,
select {
  background-color: #52080d;
  color: #fff;
  border-radius: 3px;
  border: none;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.5rem;
}
[type='checkbox'],
[type='radio'] {
  position: absolute;
  left: -9999px;
}
[type='radio'] + label {
  cursor: pointer;
}
[type='radio'] + label:before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  margin: 10px;
  background: #fff;
  box-shadow: 0px 0px 0 0.15em #000, 0px 0px 0 0.3em #fff;
  transition: all 0.2s ease-in;
}
[type='radio']:checked + label:before {
  background: #ec3a46;
}
[type='checkbox'] + label {
  line-height: 1.25em;
  cursor: pointer;
}
[type='checkbox'] + label:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1.25em;
  margin-right: 0.5em;
  vertical-align: text-bottom;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22561px%22%20height%3D%22561px%22%20viewBox%3D%220%200%20561%20561%22%20style%3D%22enable-background%3Anew%200%200%20561%20561%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%0A%09%3Cg%20id%3D%22visibility%22%3E%0A%09%09%3Cpath%20style%3D%22fill%3A%23ff1c2b%3B%22%20d%3D%22M280.5%2C89.25C153%2C89.25%2C43.35%2C168.3%2C0%2C280.5c43.35%2C112.2%2C153%2C191.25%2C280.5%2C191.25S517.65%2C392.7%2C561%2C280.5%0A%09%09%09C517.65%2C168.3%2C408%2C89.25%2C280.5%2C89.25z%20M280.5%2C408C209.1%2C408%2C153%2C351.9%2C153%2C280.5c0-71.4%2C56.1-127.5%2C127.5-127.5%0A%09%09%09c71.4%2C0%2C127.5%2C56.1%2C127.5%2C127.5C408%2C351.9%2C351.9%2C408%2C280.5%2C408z%20M280.5%2C204c-43.35%2C0-76.5%2C33.15-76.5%2C76.5%0A%09%09%09c0%2C43.35%2C33.15%2C76.5%2C76.5%2C76.5c43.35%2C0%2C76.5-33.15%2C76.5-76.5C357%2C237.15%2C323.85%2C204%2C280.5%2C204z%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  transition: all 0.3s ease-in;
  transform: scale(1, 0.4);
}
[type='checkbox']:checked + label:before {
  transform: scale(1, 1);
}
table {
  border-collapse: collapse;
  box-shadow: 0 0 0 3px #af111c;
  border-radius: 3px;
}
table tr th,
table tr td {
  padding: 20px;
  border: #af111c solid 1px;
}
table tr th {
  border-top: none;
  height: 1em;
  color: #ec3a46;
}
table tr td:first-of-type,
table tr th:first-of-type {
  border-left: none;
}
table tr td:last-of-type,
table tr th:last-of-type {
  border-right: none;
}
table tr:last-of-type td {
  border-bottom: none;
}
table tr:last-of-type td:first-of-type {
  border-bottom: none;
  border-left: none;
}
table tr:last-of-type td:last-of-type {
  border-bottom: none;
  border-right: none;
}
.divider {
  height: 4px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px #ec3a46;
  background: linear-gradient(45deg, #ec3a46, #af111c, #52080d);
  background-size: 600% 600%;
  animation: flow 9s ease infinite;
}
@keyframes flow {
  0% {
    background-position: 11% 0%;
  }
  50% {
    background-position: 90% 100%;
  }
  100% {
    background-position: 11% 0%;
  }
}
@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  30% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0.1;
  }
}
@keyframes dim {
  0%,
  100% {
    opacity: 1;
  }
  10% {
    opacity: 0.7;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.6;
  }
}
.bloody-box {
  position: relative;
  background-color: #af111c;
  margin: 30px 0;
}
.bloody-box canvas {
  position: absolute;
  top: 100%;
  left: 0;
}
